$black: #0a0a0a !default;
$black90: #1b1b1e !default;
$black80: #222222 !default;
$black75: #262626 !default;
$black70: #2B2B2B !default;
$black50: #4b4b4b !default;
$black30: #909090 !default;
$black5: #ededed !default;
$gray: #cacaca !default;
$light-gray: #e6e6e6 !default;
$lily: #f3f3f3 !default;
$white: #fefefe !default;
$mint: #0099A8 !default;
$deep-mint: #007883 !default;
$pink: #EF6EBA !default;
$deep-pink: #D7006D !default;
$blue: #437aed !default;
$deep-blue: #3855a5 !default;
$material-deep-mint: #1B272B !default;
$material-mint: #233238 !default;
$material-steel-mint: #202D33 !default;
$material-steel: #4B6B78 !default;
$material-light-steel: #73A3B8 !default;
$red: #e61d1d !default;
$lime: #8BB63B !default;
$orange: #FF6600 !default;